.line {
  fill: none;
  stroke: #000000;
}

.keypointDot {
  fill: #000000;
  stroke: none;
}

.board {
  fill: #F2F2F2;
  stroke: none;
}

.whiteStone {
  fill: #FAFAFA;
  stroke: #888888;
}

.blackStone {
  fill: #303030;
  stroke: #000000;
}
